.message-editor{
    padding: 0 10px;
    .message-editor-field{
        width: 100%;
        color: red;
    }
}
.item{
    
    margin-bottom: 20px;
    margin-left: 200px;

}
h6{ background-color:blue; border-radius: 20px;color: white; font-size: 20px; height:20px; padding:10px;}
.mat-item{
    h6{ background-color: gray;}
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
}